li{
    display: inline;

}
body{
    font-family: roboto;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
}
button{
    background-color: rgb(253, 254, 255);
    border:none;
    color:rgb(71, 56, 151);
    padding:18px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:20px;

}
h1{
    color:blueviolet;
}
head
{
    display:inline-block
    
}
.section
{
    width: 35%;
    margin: 0 auto
}
input[type="text"] {
    display: block;
    width: calc(100% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
    font-size: 18px;
    font-weight: 600;
    color: #4b00ff;
    padding: 10px;
    border: 2px solid #4b00ff;}
    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;

    }
    p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
    }
    

    